*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
}
.container {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}
.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}
.form-error {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
}
.form-group {
  position: relative;
}
.form-group label {
  font-weight: 600;
}
.form-group input {
  padding: 8px;
  font-weight: 300;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid rgb(38, 44, 42);
}
.form-group input:focus-within {
  border: 1px solid rgb(15, 239, 168);
}
.form-button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #356b55;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.form-button:hover {
  background-color: #224839;
}
